body{
	font-family: 'comic sans MS';
	font-weight: bold;
	background-image: url('../img/back.jpg');
	background-attachment: fixed;
	background-color: #222222;
	margin: 0px;

}
a:active, a:focus { outline: none; }

input, textarea {outline:none;}
input:active, textarea:active {outline:none;}
:focus {outline:none;}
textarea {resize:none;}
textarea {resize:vertical;}
textarea {resize:horizontal;}
button:active, button:focus {
  outline: none;
}
button::-moz-focus-inner {
  border: 0;
}




div.page{
	margin:auto;
	margin-top:59px;
	width:1216px;
	background-color: rgba(255, 255, 255, 0.9);
    padding-bottom: 50px;
    margin-bottom: 20px;
    overflow: hidden;
}
#short{

}
#newsPhoto{
	margin-left: 10px;
	margin-top: 5px;
	
	
}
#newsPhoto img{
	border: 5px solid black;
}
.content{
	
	position: absolute;
	top:90px;
	left: 240px;
    display: inline-block;
    vertical-align: top;
    font-size: 20px;
	color: #193036;
}
#switcb1{
	padding-bottom: 10px;
	overflow: visible;
}
#full{
	display: none;
	width:596;
	
	padding-bottom: 0;
	margin-bottom: 0;
	position: inherit;
	background-color: #f1f1f1;
	text-align: center;
	margin: auto;
}
div.nav-panel{

	overflow: visible;
	left: 50%;
 	margin-left: -615px;
	top:0;
	position: relative;
	width:1230;
	height: 47px;
    z-index: +99998;
	list-style-type: none;
	overflow:hidden;
	white-space:nowrap;
	border-color: #2a2a2a;
	box-shadow: 1px 1px 1px  #2a2a2a;
	margin-top:0;
	background-color:#000000;
	text-align: center;
	padding-top: 10px;
}
div.nav-panel div{
	cursor: pointer;
	color:#ffffff;
	display: inline;
	padding-right: 4%;
	padding-left: 4%;
	font-size: 24px;
	padding-top: 1%;
	padding-bottom: 16px;
    
}
#l1{

	background-color:#ffffff;
	color:black;
	font-size: 20px;
	padding: 7px;
	font-weight: normal;
	vertical-align: middle;
}
#l2{
	background-color: #f0f0f0;
	color:black;
	font-size: 20px;
	padding: 7px;
	font-weight: normal;
}
#l1 img{
	vertical-align: middle;
	border: 2px solid black;
	margin-right: 3px; 
}
#l2 img{
	vertical-align: middle;
	border: 2px solid black;
	margin:2px;
}
#l1:hover
{
	font-weight: bold;
}
#l2:hover
{
	font-weight: bold;
}
#ask{
	background-color:#ffffff;
	color:black;
	font-size: 20px;
	padding: 7px;
	font-weight: bold;
	text-align: left;
}
.left{

	margin-left: 20px;
	margin-top: 20px;
	position: absolute;
	width: 300px;
	background-color: #ffffff;
	overflow: hidden;
	box-shadow: 1px 1px 2px #000000;
}
.left div{
	text-align:center;
	font-size: 15px;
	margin:0px;
	background-color: #f39c12; 
	color: #ffffff; 
	font-size: 30px;
}
div.news{
	margin-top: 20px;
	width: 841px;
	position: relative;
	margin-left: 355px;
	padding-bottom: 10px;
	top:20px;
	background-color: #f1f1f1;
    overflow: visible;
}
div.title0{
	background-color:#e24f43;
	text-align: center;
	position: relative;
	color:#ffffff;
	font-size: 32px;
	padding: 15px;

}
div.title1{
	background-color:#27ae60;
	text-align: center;
	position: relative;
	color:#ffffff;
	font-size: 32px;
	padding: 15px;
	
}
div.title2{
	background-color:#f39c12;
	text-align: center;
	position: relative;
	color:#ffffff;
	font-size: 32px;
	padding: 15px;
	
}
div.more{
	height: 44px;
	width: 88px;
	text-align: center;
	color:#ffffff;
	font-size: 20px;
	margin: auto;
	border-radius: 5px;
	cursor:pointer;
	bottom: 10px;
}


div.more0{
	background-color:#e24f43;
}
div.more1{
	
	background-color:#27ae60;
}
div.more2{
	
	background-color:#f39c12;
}
a{
	text-decoration: none;
}

.login{
	box-shadow: 1px 1px 2px grey, 0 5px 7.5px grey;
	padding-top: 100px;
	display: none;
	position: relative;
	left:971px;
	top:-100px;
	width: 305px;
	border-color: #2a2a2a;
	padding-bottom: 1%;
	color:#000000;
	font-size: 150%;
	background-color:#ffffff;
	text-align: center;
	list-style-type: none;

}
.login input{

	width: 190px;
	height: 30px;
	border:1px solid #000000;
	box-shadow: 0px 0px 3px #000000, 0 5px 7.5px grey inset;
	border-radius:2px;
	margin-top: 10px;
}
.submit{
	margin-top: 5px;
}
.submit input{
	border-radius:2px;
	color: #ffffff;
	background-color: #27ae60;
	border:2px solid #000000;
	box-shadow: 2px 2px 1px  #000000;
	font-size: 20px;
	width:150px;
	height: 40px;
	text-align: center;
	margin-top: 5px;
}
.href{
	color: #000000;
	font-size: 20px;
	font-weight: normal;

}
.href:hover{
	font-weight: bold;
	
}
.submit input:hover
{
	background: #4ecf84;
	cursor: pointer;
}

input::placeholder{
	font-size: 20px;
	color:#a1a1a1;
}
.register{
	position: absolute;
 	
 	margin-left: 100px;
 	list-style-type: none;
 	color: #000000;
 	font-size: 25px;
}

.registerinput{
	margin-left: 55px;
	width: 190px;
	height: 30px;
	border:1px solid #000000;
	box-shadow: 0px 0px 3px #000000, 0 5px 7.5px grey inset;
	border-radius:2px;
}
#rega{
	background-color:#000000;
	height: 57px;
	font-size: 34px;
	color: #ffffff;
	text-align: center;
	margin-top: 0px;
}

.mainButton {
	margin-left: 49px;
	border-radius:2px;
	color: #ffffff;
	background-color: #e24f43;
	border:2px solid #000000;
	box-shadow: 2px 2px 1px  #000000;
	font-size: 20px;
	width:200px;
	height: 40px;
	text-align: center;
	padding-top: 7px;
}


.mainButton:hover{
	background-color: #ff685c;
	border:2px solid #e24f43;
}
.subreg{
	margin-left: 25px;
	border-radius:2px;
	color: #ffffff;
	background-color: #27ae60;
	border:2px solid #000000;
	box-shadow: 2px 2px 1px  #000000;
	font-size: 20px;
	width:250px;
	height: 50px;
	text-align: center;
	
}
.subreg:hover
{
	background-color: #4ecf84;
	cursor: pointer;
}
input, textarea, select, button {
    text-rendering: auto;
    color: #000000;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    margin: 0em;
    font: 400 20px comic sans MS;
    font-weight: bold;
}
input:hover{
	   background-color: #f3fff9;
	   border:2px solid #27ae60;
}
#messenger{
	
	margin:5px;
	font-size:20px;
	color:red;
	margin-left:-25px;
}
.fields{
	color:red;
	position: absolute;
	margin-left: -20px;

}
.shadow{
	box-shadow: 1px 1px 2px grey, 0 5px 7.5px grey;
}
.search{
	position: relative;
	left:50%;
	width: 630px;
	box-shadow: 3px 1px 4px grey;
	margin-left: -324px;
	background-color: #27ae60;
	text-align: left;
	top: 20px;
	z-index: 2;

	
}
.view{
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 80px;
	position: absolute;
	margin-left:285px;
	width:633px;
	text-align: center;
	background-color: #d1d1d1;
	z-index: 1;

}
.view button{
	cursor: pointer;
	background-color: #ffffff;
	color: #000000;
	border: 2px solid grey;
}
.view button:focus{
	border: 2px solid green;
}
.search input
{	
	position: relative;
	left:7px;
	margin-right: 0px;
	width: 560px;
	height: 50px;

}
.search2 input
{	
	position: relative;
	
	margin-right: 0px;
	width: 200px;
	height: 50px;

}
.search input[type="text"]{padding: 5px;}
.search2 input[type="text"]{padding: 5px;}
#search{
	position: relative;
	margin-left: -1px;
	width:40px;
	margin-bottom: 0px
	margin-top:0px;
	height: 60px;
	width:63px;
	background-color: #27ae60;
	background-image: url("http://localhost/img/search.png");
	border:none;

}

#search:hover{
	background-color: #2cd272;
	cursor: pointer;
}
.filter{
	color: #ffffff;
	background-color: #f39c12;
	position: absolute;
	width: 270px;
	font-size: 35px;
	margin-left: 930px;
	top:79px;
	padding-top: 4px;
	padding-bottom: 3px;
	text-align:center;
	cursor: pointer;
	 border: 2px solid #f39c12;
	 box-shadow: 1px 1px 2px grey;
	  border-radius: 3px;
}
.filter:hover{
	border: 2px solid #ab6c07;

}
.fSlide{
	display: none;
	margin-left: 931px;
	width: 262px;
	
	background-color: #ffffff;
	padding-top: 10px;
	font-size: 20px;
	padding-left: 10px;


}
#subFilters{
	background-color: #f39c12;
	color:#ffffff;
	 box-shadow: 1px 1px 2px grey;
	 border: 2px solid #f39c12;
	 width: 200px;
	 margin-left: 31px;
	 border-radius: 3px;
	 margin-bottom: 10px;
	 font-size: 25px;

	
}
#subFilters:hover{
	 border: 2px solid #ab6c07;
}
#price{
	margin-top: 5px;
	margin-bottom: 5px;
	width:100px;
	height: 25px;
	border: 2px solid #000000;
	border-radius: 2px;

}
#price:hover{
	background-color: #f3fff9;
	border:2px solid #27ae60;
}
.checkbox input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
  }
 
  
  .checkboxText{
  	position: relative;
    padding: 0 0 0 60px;
    padding-bottom: 5px;
    cursor: pointer;
    vertical-align: middle;

  }
  .checkboxText:before {
  content: '';
  position: absolute;
  top: -4px;
  left: 0;
  width: 40px;
  height: 20px;
  border-radius: 13px;
  background: #e24f43;
  box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
  transition: .2s;
}
.checkboxText:after {
  content: '';
  position: absolute;
  top: -2px;
  left: 2px;
  width: 16px;
  height: 16px;
  border-radius: 10px;
  background: #000000;
  box-shadow: 0 2px 5px rgba(0,0,0,.3);
  transition: .2s;
  
}
.checkbox input:checked + .checkboxText:before {
  background: #27ae60;
}
.checkbox input:checked + .checkboxText:after {
  left: 22px;
}

.check{
	position: relative;
	margin-left: 60px;
	margin-top: -14px;
	padding-bottom: 10px;
	cursor: pointer;
}
.profPhoto{
	margin-left: 30px;
	margin-top: 15px;
	border:5px solid #000000;
}
.changePhoto{
	position: relative;
	overflow: hidden;
	margin-left: 50px;
	margin-top: 25px;
	border-radius:2px;
	color: #ffffff;
	background-color: #27ae60;
	border:2px solid #000000;
	box-shadow: 2px 2px 1px  #000000;
	font-size: 20px;
	width:200px;
	height: 40px;
	padding-top: 5px;
	text-align: center;

}


.changePhoto:hover{
	background-color: #4ecf84;
	border: 2px solid #27ae60;
	cursor: pointer;
}
.profileInfo{
	position: absolute;
	white-space: nowrap;
	margin-left: 0px;
	display: inline-block;
	margin-top: -15px;

	font-size: 30px;
}
.profileInfo ul{
	list-style-type: none;
}
#additionalInfo{
	color: #8f8f8f;
	font-size: 20px;
}
.profileSpisok{
	position: relative;
	
	display: inline-block;
	padding: 8px;
	font-size: 25px;
	width:210px;
	color:#ffffff;
	text-align: center;

}

#oB{
	cursor: pointer;
	background-color: #e24f43;
	margin-left:20px;
}
#publications{
	cursor: pointer;
	width:211px;
	background-color:#27ae60;
}
#liked{
	cursor: pointer;
	width:211px;
	background-color:#f39c12;
}
.liked{
	display: none;
	position: inherit;
	border-collapse: collapse;
	font-size: 15px;
	text-align: center;
	margin-left: 20px;
}
.liked th{
	padding: 8px;
	width:210px;
}
#headliked{
	color: #ffffff;
	background-color: #f1b452;
}
#centralliked{
	background-color: #f1bb64;
	width:210;
}
#rightliked{
	width:211;
}
#liked2{
	background-color: #f4d199;
}
#centralliked2{
	background-color: #f2d7ad;
}
#liked3{
	background-color: #f2d7ad;	
}
#centralliked3{
	background-color: #f4d199;	
}
.Pubs{
	display: none;
	position: inherit;
	border-collapse: collapse;
	font-size: 15px;
	text-align: center;
	margin-left: 20px;
}
.Pubs th{
	padding: 8px;
	width:210px;
}
#headPubs{
	color: #ffffff;
	background-color: #32cb73;
}
#centralPubs1{
	background-color: #34d879;
	width:210;
}
#rightPubs{
	width:211;
}
#Pubs2{
	background-color: #adfbce;
}
#centralPubs2{
	background-color: #c4fbdb;
}
#Pubs3{
	background-color: #c4fbdb;	
}
#centralPubs3{
	background-color: #adfbce;	
}
.oB{
	position: inherit;
	border-collapse: collapse;
	font-size: 15px;
	text-align: center;
	margin-left: 20px;
}
.oB th{
	padding: 8px;
	width:210px;
}
#headoB{
	color: #ffffff;
	background-color: #ff6053;
}
#central1{
	background-color: #fc6c60;
	width:210;
}
#right{
	width:212;
}
#oB2{
	background-color: #fbb9b3;
}
#central2{
	background-color: #fdcbc7;
}
#oB3{
	background-color: #fdcbc7;	
}
#central3{
	background-color: #fbb9b3;	
}
.profileButton{
	position: absolute;
	display: inline;
	margin-left:750px;
	margin-top: 20px;
	color:white;
}
#profileButton{
	position: relative;
	margin:10px;
	
	margin-left: 20px;
	margin-bottom: 20px;
	width: 75px;
	height: 75px;
	border: 3px solid #000000;
	border-radius: 25px;
	box-shadow: 3px 3px 2px #a1a1a1;
	background-color:#ffffff;
}
#profileButton:hover{
	margin-left: 22px;
	cursor: pointer;
	background-color:#e1e1e1;
	box-shadow: 1px 1px 2px #a1a1a1;
}
.flown{
	width: 500px;
	height: 500px;
	position: fixed;
	top:0;
	left: 0;
	bottom: 0;
	right: 0;
	margin:auto;
	background-color: #ffffff;
	z-index: 2;
	display: none;
}
.flown:target{
	display: block;
}
#backgr{
	
	position: fixed;
	top:-60;
	z-index: 1;
	width: 100%;
	min-height: 1060px;
	background-color: rgba(0, 0, 0, .5);
	padding-bottom: 10px;
	display: none;
}
#writeText{
	position: absolute;
	margin-top:100px;
	margin-left: 158px;
	width:900px;
	font-size:20px;
}
.submitWriting{
	border-radius:2px;
	color: #ffffff;
	background-color: #27ae60;
	border:2px solid #000000;
	box-shadow: 2px 2px 1px  #000000;
	font-size: 20px;
	width:150px;
	height: 40px;
	text-align: center;
	margin-top: 5px;
	margin-left:375px;
}
.submitWriting:hover{
	background: #4ecf84;
	cursor: pointer;
}
#headerWrite{
	background-color:#f39c12;
	color: #ffffff;
	text-align: center;
	font-size: 30px; 
}
#headerWrite input[name="titleText"]{
	background-color: #f7e2c2;
	border:2px solid #f39c12;
	border-radius: 2px;
	box-shadow: 0px 0px 4px grey inset;
	margin-bottom: 30px;
	margin-left: 10px;
	width: 600px;
	height: 40px;
	padding-left: 10px;
	color: #795113;
}
#headerWrite input[name="titleText"]:hover{
	border:2px solid #795113;
}
select{
	margin-top:10px;
	margin-bottom: 10px;
	padding-top:5px;
	padding-bottom: 5px;
	border: 2px solid green;
	border-radius: 3px;
	box-shadow: 0 0 0;
}
.categotyChanger{
	
	width:900px;
	margin-left:158px;
	text-align: center;
}
.categotyChanger button{
	padding: 5px 50px 5px 50px;
	background-color: #ffffff;
	border:1px solid black;
	color: black;
	margin:0px;


}
.categotyChanger button:hover{
	cursor: pointer;
	background-color: #e1e1e1;
}
.search2{
	position: relative;
	left:50%;
	width: 200px;
	box-shadow: 3px 1px 4px grey;
	margin-left:380px;
	background-color: #27ae60;
	text-align: left;
	top: 20px;
	
}
#searchButton2{
	background-color: #ffffff;
	 border: 2px solid black; 
	 width:200px;
	 border-radius: 3px;
	
}
#searchButton2:hover{
	cursor: pointer;
	background-color: #e1e1e1;
}